body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 200%;
  color: #40514E;
  
}

h1{
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  
}
h2{
  font-size: 2.5rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;

}
h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif ;
  

}
a{
  color: #11999E;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 10px 20px;
}

a:hover {
  color: #EAF6F6;
}
p{
   line-height: 2;

}
hr {
  border: none;
  text-align: center;
  border-top: 8px dotted grey;
  width: 70px;
  margin: 100px auto;
  
  ;
}

/* classes */
.top-container{
  background-color:#EAF6F6;
  position: relative;
  padding-top: 60px;
  height: max-content;
}
.middle-container{
  margin: 100px 0;
 
}
.bottom-container{

  background-color: #66BFBF;
  padding: 50px 0 20px;
  
}
.bottom-cloud {
  position: absolute;
  bottom: 40%;
  left:18%
}
.top-cloud {

  position: absolute;
  top: 10%;
  right:18%;
  background-color: #EAF6F6;
}

.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
  
  
}

  

.html-img {
  float: left;
  width: 25%;
  margin-right: 30px;
}
.css-img {
  width: 25%;
  float:right;
  margin-left: 25px;
  

}

.btn {
  border: 2px solid #66BFBF;
  background-color: #66BFBF;
  padding: 5px 15px;
  border-radius: 5px;
  color:#11999E;
  
}
.btn:hover {
  color: #EAF6F6;
  background-color: #1b5858;
}







  

.intro{
  width: 30%;
  margin: auto;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;

}
.copy-right {
  color: #EAF6F6;
  font-size: 1.5rem;
  padding: 20px 0;
}

